* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  //background-color: black;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

//img {
//  //this gets rid of space at bottom of picture
//  vertical-align: middle;
//  width: 100%;
//}